<!DOCTYPE html>
<html>
	<head>
		<title>Flipkart</title>
		<link href = "./css/index.css" type = "text/css" rel = "stylesheet"/>
		<script src = "./js/myjs.js" type = "text/javascript"></script>
	</head>
	<body>	
		<div id = "top_ribbin">
<!--			<ul>
				<form action = "#" method = "get">
					<li> login <select name = "login">
						<option value = "0"> My profile </option>
						<option value = "1"> wishlist </option>
						<option value = "2"> order </option>
					</li>
				</form>
			</ul>
-->
		</div><!-- End of top_ribbin-->
		<div id = "wall_area">
			<div id = "search_area">
			</div><!-- End of search_area-->
		</div><!-- End of main_area-->
		<div id = "top_deals">Top Deals of the day
		</div><!-- End of top_deals-->
		<div id = "special_benefit"> Flipkart Special benefits
		</div><!-- End of special_benefit-->
	</body>
</html>
